/*------------------------------------*\
  Global - variables, fonts etc.
\*------------------------------------*/

/* Variabler indsættes og redigeres her */
:root {
    /* Colors */
    --color-primary: #253d80;
    --color-primary-light: #c8e0d9;
    --color-primary-dark: #0c1244;

    --color-cta: #fbc17c;

    --color-white: #fff;
    --color-grey: #e7e7e5;
    --color-grey-dark: #C8C9C5;

    /* Fontsizes */
    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.5rem;
    --font-size-p: 1.125rem;


    /* Objects */
    --container-width: 1400px;
    --container-padding: 30px;
    --section-padding: 100px;

    /* Components */

    /* Buttons */
    --button-border-radius: 8px;
    --button-font-size: 1.5rem;

    /* Content */
    --content-spacing: 15px;
    --content-border-radius: 8px;
}

@font-face {
    font-family: 'Tuborg Serif';
    src: url("../fonts/TuborgSerif-Regular.eot");
    src: url("/TuborgSerif-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/TuborgSerif-Regular.woff2") format("woff2"),url("../fonts/TuborgSerif-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tuborg Serif';
    src: url("../fonts/TuborgSerif-Bold.eot");
    src: url("../fonts/TuborgSerif-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/TuborgSerif-Bold.woff2") format("woff2"),url("../fonts/TuborgSerif-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tuborg Serif';
    src: url("../fonts/TuborgSerif-Extrabold.eot");
    src: url("../fonts/TuborgSerif-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/TuborgSerif-Extrabold.woff2") format("woff2"), url("../fonts/TuborgSerif-Extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Tuborg Icons";
    src: url("../fonts/tuborgdk.eot");
    src: url("../fonts/tuborgdk.eot?#iefix") format("embedded-opentype"),url("../fonts/tuborgdk.woff") format("woff"),url("../fonts/tuborgdk.ttf") format("truetype"),url("../fonts/tuborgdk.svg#tuborgdk") format("svg");
    font-weight: normal;
    font-style: normal;
}




/*------------------------------------*\
  GENERIC
\*------------------------------------*/

html {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: sans-serif;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
    padding: 0;
    margin: 0;
}



/*------------------------------------*\
  BASE

  H1, h2, p, ul, ol, li osv.
\*------------------------------------*/

/* Text elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tuborg Serif', serif;
    font-weight: 400;
}

h1 {
    font-weight: 800;
    font-size: var(--font-size-h1);
}

h2 {
    font-weight: 700;
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    font-size: var(--font-size-paragraph);
}

a,
p,
ul,
ol,
li,
button {
    font-family: 'Aktiv Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
a,
p,
ul,
ol,
li,
button,
img {
    margin-bottom: var(--content-spacing);
}

/*
    Makes the last child in the section of the content not taking up whitespace below, which we do not want.
*/
p:last-child,
ul:last-child,
ol:last-child,
li:last-child,
button:last-child,
img:last-child {
    margin-bottom: 0;
}

/* Image and video */
img,
video {
    display: block;
    max-width: 100%;
    border-radius: var(--content-border-radius);
}




/*------------------------------------*\
  OBJECTS

  skrives .o-indsæt-klasse-navn-her
\*------------------------------------*/

.o-container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--container-padding);
}





/*------------------------------------*\
  COMPONENTS

  Skrives .c-indsæt-klasse-navn-her
\*------------------------------------*/

.c-page-heading {
    font-size: 5.25rem;
    color: var(--color-black);
    text-align: center;
}

.c-page-subheading {
    color: var(--color-black);
    text-align: center;
}

.c-h1 {
    font-family: 'Tuborg Serif', serif;
    font-weight: 800;
    font-size: var(--font-size-h1);
}

.c-h2 {
    font-family: 'Tuborg Serif', serif;
    font-weight: 700;
    font-size: var(--font-size-h2);
}

.c-h3 {
    font-family: 'Tuborg Serif', serif;
    font-size: var(--font-size-h3);
}


.c-section {
    padding: var(--section-padding) 0;
}

.c-section--cta {
    background-color: var(--color-cta);
}

.c-section.c-section--cta {
    color: var(--color-black);
}

.c-section--primary {
    background-color: var(--color-primary);
}

.c-section.c-section--primary {
    color: var(--color-white);
}


.c-introduction {
    background-color: var(--color-cta);
}

.c-introduction__tuborg-can {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}




.c-page-footer {
    background-color: var(--color-primary-dark);
    padding: var(--section-padding) 0;
}

.c-page-footer__tuborg-logo {
    margin-left: auto;
    margin-right: auto;
}




.c-button {
    display: inline-block;
    font-family: 'Tuborg Serif', serif;
    font-weight: 700;
    font-size: var(--button-font-size);
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 8px 24px;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background .15s ease-in;
}

.c-button:hover {
}

.c-button:active {

}

.c-button:focus {

}

.c-button--block {
    display: block;
    width: 100%;
}

.c-button--inverse {
    color: var(--color-primary);
    background-color: transparent;
}

.c-button--inverse:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.c-button--inverse:active {

}

.c-button--inverse:focus {

}

.c-button--inverse-white {
    color: var(--color-white);
    border-color: var(--color-white);
}

.c-button--inverse-white:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.c-button--inverse-white:active {

}

.c-button--inverse-white:focus {

}

.c-button--cta {
    background-color: var(--color-cta);
    border-color: var(--color-cta);
}




.c-video {
    position: relative;
}

.c-video__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    border-radius: var(--content-border-radius);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-video__play-button {
    height: 120px;
    width: 120px;
    background-color: var(--color-cta);
    border-radius: 50%;
    text-align: center;
}




.c-game-popup {
    position: fixed;
    z-index: 1;
    background-color: var(--color-white);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.c-game-popup.is-hidden {
    display: none;
}

.c-game-popup__chart {
    min-width: 320px;
    min-height: 320px;
    background-color: black;
}

.c-game-popup__tuborg-woman {
    max-width: 150px;
}





/*------------------------------------*\
  UTILITIES

  Skrives .u-indsæt-klasse-navn-her
\*------------------------------------*/
